# Build
build/
*/build/
**/.cxx/
.externalNativeBuild/

# Artifacts
*.apk
*.aab
*.ap_

# Native
*.o
*.obj
*.a

# Gradle / Kotlin
.gradle/
.kotlin/
gradle-app.setting
!gradle-wrapper.jar

# IDE
.idea/
*.iml
.DS_Store

# Local Config
local.properties
keystore.properties
*.jks

# Firebase
google-services.json

# Profiling / Crash
*.hprof
*.trace
tombstones/